[core]
	attributesfile = ~/.gitattributes
	editor = vim
	excludesfile = ~/.gitignore

[alias]
	br = branch
	ci = commit
	co = checkout
	df = diff
	dfs = diff --staged
	pr = pull --rebase
	st = status -sb
	lg = log --abbrev-commit --date-order --date=relative --graph --pretty=plus
	lga = !git lg --branches --remotes

[color]
	ui = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "decorate"]
	remoteBranch = yellow
[color "diff"]
	whitespace = red reverse
	meta = yellow
	old = red
	new = green
[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[diff]
	tool = vimdiff
[difftool]
	prompt = false
[diff "gz"]
	binary = true
	textconv = gunzip --stdout

[pretty]
	plus = %C(red)%h%C(reset) -%C(auto)%d %s %C(green)(%ar) %C(blue bold)<%an>

[push]
	default = upstream

[rebase]
	autosquash = true

[rerere]
	enabled = true
	autoupdate = true

[user]
	name = Mal Graty
	email = mal.graty@googlemail.com
