[core]
	attributesfile = ~/.gitattributes
	editor = vim
	excludesfile = ~/.gitignore

[alias]
	br = branch
	ci = commit
	co = checkout
	df = diff
	dfs = diff --staged
	pr = pull --autostash --rebase
	st = status -sb
	lg = log --abbrev-commit --date-order --date=relative --graph --pretty=plus
	lga = !git lg --branches --remotes
	rv = diff
	rvs = !git rv --staged
	bl = !git for-each-ref --color=always --sort=committerdate --format=' \
			%(color:yellow)%(refname:short)%(color:reset) \
			%(color:red)%(objectname:short)%(color:reset) \
			%(contents:subject) \
			%(authorname) \
			(%(color:green)%(committerdate:relative)%(color:reset)) \
		' refs/heads/ \
		| sed -e 's/    /\\t/g' -e 's/\\s\\+$//' | column -ts '\t'

[color]
	ui = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "decorate"]
	remoteBranch = yellow
[color "diff"]
	whitespace = red reverse
	meta = yellow
	old = red
	new = green
[color "diff-highlight"]
	oldhighlight = 9 235 bold
	oldnormal = 9
	newhighlight = green 235 bold
	newnormal = green
[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[diff]
	renameLimit = 5120
	tool = vimdiff
[diff "gz"]
	binary = true
	textconv = "f() { file -b $1; echo ---; gunzip -c $1; }; f"

[difftool]
	prompt = false

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[init]
	defaultBranch = main

[pager]
	bl = less -ERSX
	rv = /usr/bin/perl /usr/share/doc/git/contrib/diff-highlight/diff-highlight \
		| less

[pretty]
	plus = %C(red)%h%C(reset) -%C(auto)%d %s %C(green)(%ar) %C(blue bold)<%an>

[push]
	default = upstream

[rebase]
	autosquash = true

[rerere]
	enabled = true
	autoupdate = true

[user]
	name = Mal Graty
	email = mal.graty@googlemail.com
